<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PASIFIC TRAVEL AGENCY</title>
	<link rel="stylesheet" href="css/tugas.css"  type="text/css">
</head>
<body>
	<div id="container">
	<!-- NAVBAR -->
<div class="navbar" id="topnav">
	<a class="brand" href="#">
		<!-- logo -->
		<img src="images/BgCity.jpeg" alt="logo">
	</a>
<ul>
	<li><a href="#">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="#">Destination</a></li>
	<li><a href="#">Hotel</a></li>
	<li><a href="#">Blog</a></li>
	<li><a href="contact.html">Contact</a></li>
</ul>
</div>
<header class="hero" id="home">
	<div class="wrap">
		<div class="hero-grid">
			<div class="hero-left">
				<div class="welcome">Welcome to Manchester</div>
				<h1 class="hero-title">Manchester City<br><div class="tulisan-kiri">
<a class="play-btn" href="https://youtu.be/PTOAoH_MMwY?si=W7TynKrWFVm3nUYf"></a></div> This Is Manchester<br>City</h1>
				<p class="lead">The Skyblues Team</p></div>
</div>
</div>
</header>
<section class="search-box">
  
    <div class="tabs">
      <button style="color: grey;" class="tab">Ticket</button>
      <button class="tab active">Stadium</button>
    </div>
<br><br>
   
    <form class="search-form">
      <div class="form-group">
        <label style="color: #f15b2a; font-weight: bold;">Matchday</label>
        <input type="text" placeholder=" Search place">
      </div>
      <div class="form-group">
        <label style="color: #f15b2a; font-weight: bold;">Start Ticket</label>
        <input type="text" placeholder=" Check In Date">
      </div>
      <div class="form-group">
        <label style="color: #f15b2a; font-weight: bold;">Deadline Ticket</label>
        <input type="text" placeholder=" Check Out Date">
      </div>
      <div class="form-group">
        <label style="color: #f15b2a; font-weight: bold;">PRICE</label>
        <input type="text" placeholder="$100">
      </div>
      <button type="submit" class="btn-search">SEARCH</button>
    </form>
  </section>
<br><br>

<section class="container">
    <!-- Left section -->
    <div class="left">
      <h4>Etihad Airways</h4>
      <h1>The World Is Our Home, You Are Our Guest</h1>
      <p>
        The World Is Our Home, You Are Our Guest" is a tagline for Etihad Airways, a national airline of the United Arab Emirates
      </p>
      <div class="buttons">
        <button class="btn-primary">Selengkapnya</button>
        <button class="btn-play">▶</button>
      </div>
    </div>

    <!-- Right section -->
    <div class="baik">
      <div class="tarot">
        <div class="foto">
          <img src="images/bisnis.jpeg" alt="Hotel Room">
          <div class="price">1 day</div>
        </div>
        <div class="tarot-content">
          <h3>Business Class</h3>
          <div class="rating">★★★★★</div>
          <div class="icons">
            <span>🛏 modern Seat</span>
            <span>🥗 Eat Service</span>
            <span>📶 Free Wifi</span>
          </div>
          <p>
             Etihad Airways 787 Dreamliner is a world class product with probably one of the best Business Class seats in the entire industry. It offers extreme comfort and privacy as well as plenty of room
          </p>
          <div class="tarot-buttons">
            <button class="view">Selengkapnya</button>
            <button class="book">Pesan Sekarang</button>
          </div>
        </div>
      </div>
    </div>
  </section><br><br><br><br>
   <section class="destination">
    <p align="center" class="subtitle">Manchester City</p>
    <h2 align="center" class="title">key players in Manchester City</h2>

    <div class="card-container">
      <div class="card">
        <img src="images/tijjani.jpg" alt="Tijjani">
        <span class="label">Tijjani Reijnders</span>
        <span class="badge">4</span>
      </div>

   
      <div class="card">
        <img src="images/Bernardo.jpg" alt="Bernardo">
        <span class="label">Bernardo Silva</span>
        <span class="badge">20</span>
      </div>

   
      <div class="card">
        <img src="images/savinho.jpg" alt="Savinho">
        <span class="label">Savinho</span>
        <span class="badge">26</span>
      </div>

   
      <div class="card">
        <img src="images/rodri.jpg" alt="Rodri">
        <span class="label">Rodri</span>
        <span class="badge">16</span>
      </div>
    </div>
  </section> <br>

<section class="explore-section">
  <div class="explore-header">
    <p class="explore-subtitle">Manchester city</p>
    <h2 class="explore-title">Another Player</h2>
  </div>

  <div class="explore-grid">
    <div class="explore-box">
      <div class="explore-img">
        <img src="images/gigio.jpg" alt="Donnarumma">
        <span class="explore-tag">Gigio</span>
      </div>
      <div class="explore-info">
        <p class="explore-days">25</p>
        <h3 class="explore-name">Gianluigi Donnarumma Cavaliere</h3>
        <p class="explore-loc">📍Castellammare di Stabia, Italy</p>
        <div class="explore-icons">
        </div>
      </div>
    </div>

 
    <div class="explore-box">
      <div class="explore-img">
        <img src="images/dias.jpg" alt="dias">
        <span class="explore-tag">Ruben Dias</span>
      </div>
      <div class="explore-info">
        <p class="explore-days">3</p>
        <h3 class="explore-name">Rúben dos Santos Gato Alves Dias</h3>
        <p class="explore-loc">📍Amadora, Portugal</p>
        <div class="explore-icons">
        </div>
      </div>
    </div>

 
    <div class="explore-box">
      <div class="explore-img">
        <img src="images/gvardiol.jpg" alt="gvardiol">
        <span class="explore-tag">Josko Gvardiol</span>
      </div>
      <div class="explore-info">
        <p class="explore-days">24</p>
        <h3 class="explore-name">Joško Gvardiol</h3>
        <p class="explore-loc">📍Zagreb, Croatia</p>
        <div class="explore-icons">
        </div>
      </div>
    </div>

  
    <div class="explore-box">
      <div class="explore-img">
        <img src="images/nico.jpeg" alt="Nico">
        <span class="explore-tag">Nico Gonzalez</span>
      </div>
      <div class="explore-info">
        <p class="explore-days">14</p>
        <h3 class="explore-name">Nicolás González Iglesias</h3>
        <p class="explore-loc">📍A Coruña, Spain</p>
        <div class="explore-icons">
        </div>
      </div>
    </div>


    <div class="explore-box">
      <div class="explore-img">
        <img src="images/cherki.jpg" alt="Cherki">
        <span class="explore-tag">Rayan Cherki</span>
      </div>
      <div class="explore-info">
        <p class="explore-days">10</p>
        <h3 class="explore-name">Rayan Mathis Cherki</h3>
        <p class="explore-loc">📍  Lyon, France</p>
        <div class="explore-icons">
        </div>
      </div>
    </div>

    <div class="explore-box">
      <div class="explore-img">
        <img src="images/nunes.jpeg" alt="Nunes">
        <span class="explore-tag">Matheus Nunes</span>
      </div>
      <div class="explore-info">
        <p class="explore-days">27</p>
        <h3 class="explore-name">Matheus Luiz Nunes</h3>
        <p class="explore-loc">📍São Gonçalo, State of Rio de Janeiro, Brazil</p>
        <div class="explore-icons">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-section">
  <div class="blog-header">
    <p class="sub-title">Etihad Airways</p>
    <h2 class="main-title">The World Is Our Home, You Are Our Guest</h2>
  </div>

  <div class="blog-container">
    <div class="post-box">
      <div class="post-img">
        <img src="images/ekonomi.jpg" alt="ekonomi class">
        <div class="post-date">
          <span class="day">4</span>
          <div class="month-year">
            <span>2025</span>
            <p>Oktober</p>
          </div>
        </div>
      </div>
      <div class="post-content">
        <h3>Economy Class</h3>
        <a href="#" class="btn-read">Read more</a>
      </div>
    </div>

    <div class="post-box">
      <div class="post-img">
        <img src="images/bisnis.jpeg" alt="bisnis class">
        <div class="post-date">
          <span class="day">4</span>
          <div class="month-year">
            <span>2025</span>
            <p>Oktober</p>
          </div>
        </div>
      </div>
      <div class="post-content">
        <h3>Business Class</h3>
        <a href="#" class="btn-read">Read more</a>
      </div>
    </div>

    <div class="post-box">
      <div class="post-img">
        <img src="images/first.jpg" alt="first class">
        <div class="post-date">
          <span class="day">4</span>
          <div class="month-year">
            <span>2025</span>
            <p>Oktober</p>
          </div>
        </div>
      </div>
      <div class="post-content">
        <h3>First Class</h3>
        <a href="#"class="btn-read">Read more</a>
      </div>
    </div>
  </div>
</section><br>

<section class="banner-travel">
  <div class="banner-content">
    <h1>WE ARE CITY AND ETIHAD</h1>
    <p>Superbia in Proelio--Beyond Borders</p>
    <a href="#" class="btn-quote">Send</a>
  </div>
</section><br><br>

  <footer class="footer">
  <div class="utsbawah">
          <div class="utsbawahkiri">
               <a href="#">The World Is Our Home, You Are Our Guest" is a tagline for Etihad Airways,<br> a national airline of the United Arab Emirates</a>
          </div>
          <div class="utsbawahkanan">
               <a href="#">home</a>
               <a href="#">contact</a>
               <a href="#">help</a>
               <a href="#">FQAs</a>

          </div>

</body>
</html>